@page
@model viecLam24hFE.Pages.NguoiTimViec.SuccessModel
@{
    ViewData["Title"] = "Success";
    Layout = "_LayoutUngTuyenHomePage";
}

<section class="service-area section-gap" id="service">
	<div class="container">
		<div class="row d-flex justify-content-center">
			<div class="col-md-8 pb-40 header-text">
				<h1>Bạn đã ứng tuyển thành công.</h1>
				<p>
					Who are in extremely love with eco friendly system.
				</p>
			</div>
		</div>
	</div>
</section>