@page
@model viecLam24hFE.Pages.NguoiTimViec.TestUploadPDFModel
@{
}

<form method="post" enctype="multipart/form-data">
    <input type="file" name="pdfFile" id="pdfFile" style="display: none;" onchange="getFileName()" />
    <label for="pdfFile" id="fileNameLabel">Upload file PDF</label>
    <button type="submit">Submit</button>
</form>

<script>
    function getFileName() {
        const fileInput = document.getElementById('pdfFile');
        const fileNameLabel = document.getElementById('fileNameLabel');
        fileNameLabel.textContent = fileInput.files[0].name;
    }
</script>